
# POSTGRES CONFIGURATION


POSTGRES_DB=jobsdb
POSTGRES_USER=jobsuser
POSTGRES_PASSWORD=change_me


# DATABASE CONNECTION


DB_HOST=postgres
DB_PORT=5432
DB_NAME=jobsdb
DB_USER=jobsuser
DB_PASSWORD=change_me


# REDIS CONFIGURATION


REDIS_HOST=redis
REDIS_PORT=6379


# APPLICATION


API_PORT=8000
WORKER_POLL_SECONDS=2
LOG_LEVEL=INFO